{% extends "base.html" %}
{% block title %}Analisis{% endblock %}
{% block content %}
{% include "menu/menu_tabs.html" %}
<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="card">
		<div class="card-header card-header-info">
			<h4 class="card-title">Mejores 5 Platillos por Ganancia</h4>
		</div>
		<div class="card-body table-responsive">
			<table class="table table-hover">
				<thead class="text-info">
				<tr><th></th>
				<th>Nombre</th>
				<th>Ganancia</th>
				</tr></thead>
				<tbody>
					{% load myfilters %}
					{% for platillo in platillosgood %}
					<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ platillo.nombre }}</td>
					<td>{{ platillo.ganancia|percentage }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	  </div>
	</div>
	<div class="col-lg-6 col-md-12">
		<div class="card">
		<div class="card-header card-header-warning">
			<h4 class="card-title">Peores 5 Platillos por Ganancia</h4>
		</div>
		<div class="card-body table-responsive">
			<table class="table table-hover">
				<thead class="text-warning">
				<tr><th></th>
				<th>Nombre</th>
				<th>Ganancia</th>
				</tr></thead>
				<tbody>
					{% load myfilters %}
					{% for platillo in platillosbad %}
					<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ platillo.nombre }}</td>
					<td>{{ platillo.ganancia|percentage }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="card">
		<div class="card-header card-header-info">
			<h4 class="card-title">Mejores 5 Bebidas Por Ganacia</h4>
		</div>
		<div class="card-body table-responsive">
			<table class="table table-hover">
				<thead class="text-info">
				<tr><th></th>
				<th>Nombre</th>
				<th>Ganancia</th>
				</tr></thead>
				<tbody>
					{% load myfilters %}
					{% for bebida in bebidasgood %}
					<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ bebida.nombre }}</td>
					<td>{{ bebida.ganancia|percentage }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	  </div>
	</div>
	<div class="col-lg-6 col-md-12">
		<div class="card">
		<div class="card-header card-header-warning">
			<h4 class="card-title">Peores 5 Bebidas por Ganacia</h4>
		</div>
		<div class="card-body table-responsive">
			<table class="table table-hover">
				<thead class="text-warning">
				<tr><th></th>
				<th>Nombre</th>
				<th>Ganancia</th>
				</tr></thead>
				<tbody>
					{% load myfilters %}
					{% for bebida in bebidasbad %}
					<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ bebida.nombre }}</td>
					<td>{{ bebida.ganancia|percentage }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	  </div>
	</div>
</div>
{% endblock %}
