{% extends "base.html" %}
{% block title %}Ingredientes{% endblock %}
{% block content %}
{% include "menu/menu_tabs.html" %}
<div class="modal" id="add-ing" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Anadir Ingrediente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'menu:ingredientes_add' %}">
      {% csrf_token %}
      <div class="modal-body">
      <div class="form-row">
          <div class="col-6 form-group">
             <label for="input-nombre" class="bmd-label-floating">Ingrediente</label>
             <input type="text" class="form-control" id="input-nombre" name="input-nombre">
          </div>
          <div class="col-6 form-group">
            <label for="input-marca" class="bmd-label-floating">Marca</label>
             <input type="text" class="form-control" id="input-marca" name="input-marca">
          </div>
      </div>
      <div class="form-row">
      <div class="form-group col-10">
        <label for="input-proveedor" class="bmd-label-floating">Proveedor</label>
          <select id="input-proveedor" class="form-control" name="input-proveedor">
              {% for proveedor in proveedores %}
              <option value="{{ proveedor.id }}">{{ proveedor.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-2">
          {# TODO change button to a circle shape #}
      <a href="{% url 'menu:proveedores' %}" class="btn btn-round"><i class="material-icons">add</i></a>
      </div>
      </div>
      <div class="form-row">
          <div class="form-group col-6">
            <label for="input-cantidad">Cantidad</label>
            <input type="number" class="form-control" id="input-cantidad" name="input-cantidad">
          </div>
        <div class="form-group col-6" style="margin-top: 0;">
          <select id="input-medida" name="input-medida" class="form-control">
              {% for medida in medidas %}
              <option value="{{ medida }}">{{ medida }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="input-costo" class="bmd-label-floating">Costo ($)</label>
        <input type="number" class="form-control" id="input-costo" name="input-costo">
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Anadir</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Ingredientes</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
    <div class="card-body">
    <button class="btn btn-primary btn-round" rel="tooltip" data-toggle="modal" data-target="#add-ing"><i class="material-icons">add</i></button>
    {% if ingredientes.count == 0 %}
    No hay ningun ingredientes.
    {% else %}
    <form method="GET" action="{% url 'menu:ingredientes_sort' %}">

    </form>
    <div class="table-responsive">
        <table class="table">
            <thead class="text-primary">
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Proveedor</th>
                    <th>Costo</th>
                    <th>Medida</th>
                    <th>Cantidad</th>
                    <th class="text-right">Accion</th>
                </tr>
            </thead>
            <tbody>
            {#TODO make table more narrow, expand to modal for more information#}
            {#TODO collapsable table columns#}
            {% for ingredient in ingredientes %}
                <tr><td>{{ ingredient.name }}</td>
                <td>{{ ingredient.brand }}</td>
                <td>{{ ingredient.proveedor }}</td>
                <td>{{ ingredient.cost }}</td>
                <td>{{ ingredient.measurement }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-success">
                        <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger">
                        <i class="material-icons">close</i>
                    </button>
                </td></tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}

