{% extends "base.html" %}{% load myfilters %}
{% block title %}Ingredientes{% endblock %}
{% block content %}
{% include "menu/menu_tabs.html" %}
<div class="modal" id="add-ing" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">A&ntilde;adir Ingrediente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'menu:ingredientes' %}">
      {% csrf_token %}
      <div class="modal-body">
      {% load myfilters %}
      <div class="form-row">
          <div class="col-6 form-group">
             {{ form.nombre.label_tag }}
             {{ form.nombre|addclass:'form-control' }}
          </div>
          <div class="col-6 form-group">
             {{ form.marca.label_tag }}
             {{ form.marca|addclass:'form-control' }}
          </div>
      </div>
      <div class="form-row">
      <div class="form-group col-3">
        <label for="input-proveedor">Proveedor:</label>

      </div>
      <div class="form-group col-9">
         <select id="input-proveedor" class="form-control" name="input-proveedor">
              {% for proveedor in proveedores %}
              <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
              {% endfor %}
          </select>
      </div>
      </div>
      <div class="form-row">
          <div class="form-group col-6">
             {{ form.cantidad.label_tag }}
             {{ form.cantidad|addclass:'form-control' }}
          </div>
        <div class="form-group col-6" style="margin-top: 0;">
          {{ form.medida|addclass:'form-control' }}
        </div>
      </div>
      <div class="form-group">
         {{ form.costo.label_tag }}
         {{ form.costo|addclass:'form-control' }}
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Ingredientes</h4>
        </div>
    <div class="card-body">
    <form method="POST" action="{% url 'menu:ingredientes_delete' %}">
    {% csrf_token %}
    {% if ingredientes.count > 0 %}
    <button class="btn btn-danger"><i class="material-icons">delete</i></button>
    <a class="btn btn-info" type="button" href="{% url 'menu:export' %}"><i class="material-icons">get_app</i></a>
    {% endif %}
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-ing"><i class="material-icons">add</i></button>
    {% if ingredientes.count > 0 %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="text-primary">
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Proveedor</th>
                    <th>Costo</th>
                    <th class="text-right">Acci&oacute;n</th>
                </tr>
            </thead>
            <tbody>
            {#TODO make table more narrow, expand to modal for more information#}
            {#TODO collapsable table columns#}
            {% for ingredient in ingredientes %}
                <tr>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="ing-del[]" value="{{ ingredient.id }}" >
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </td>
                <td>{{ ingredient.nombre }}</td>
                <td>{{ ingredient.marca }}</td>
                <td>{{ ingredient.proveedor }}</td>
                <td>{{ ingredient.unit_cost|currency }}/{{ ingredient.medida }}</td>
                <td class="td-actions text-right">
                    <a rel="tooltip" class="btn btn-success ing-edit" href="{% url 'menu:ingredientes_edit' ingredient.pk %}">
                        <i class="material-icons">edit</i>
                    </a>
                </td></tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
    </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

