{% extends "base.html" %}
{% block title %}{{ tipo|title }}s{% endblock %}
{% block content %}
    {% include "menu/menu_tabs.html" %}
    <div class="modal" id="add-prov" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">A&ntilde;adir {{ tipo|title }}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% with 'menu:'|add:tipo|add:'s_add' as url_arg %}
                <form method="POST" action="{% url url_arg %}">
                {% endwith %}
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-nombre"
                                   class="bmd-label-floating">{{ tipo|title }}</label>
                            <input type="text" class="form-control"
                                   id="input-nombre" name="input-nombre">
                        </div>
                        <div class="form-group">
                            <label for="input-precio"
                                   class="bmd-label-floating">Precio</label>
                            <input type="number" class="form-control"
                                   id="input-precio" name="input-precio">
                        </div>
                        <div class="card card-nav-tabs card-plain">
                            <div class="card-header card-header-primary">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#ingredientes"
                                                   data-toggle="tab">Ingredientes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   href="#recetas"
                                                   data-toggle="tab">Recetas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="tab-content text-center">
                                    <div class="tab-pane"
                                         id="ingredientes">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                      <i class="material-icons">search</i>
                                                  </span>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="add-receta-filter"
                                                   placeholder="Filtrar ingredientes">
                                            {# TODO add button for ingredientes #}
                                        </div>
                                        <div class="table-responsive table-wrapper-scroll-y">
                                            <table class="table table-condensed table-filter"
                                                   id="add-receta-table">
                                                <thead>
                                                <tr class="table-head">
                                                    <th>Used</th>
                                                    <th>Ingrediente</th>
                                                    <th>Proveedor</th>
                                                    <th>Cantidad</th>
                                                    <th>Medida</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for ingredient in ingredientes %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    {# TODO checkbox enables quantity field #}
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           name="added-ing[]"
                                                                           value="{{ ingredient.id }}">
                                                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{ ingredient.name }}</td>
                                                        <td>{{ ingredient.proveedor }}</td>
                                                        <td><input
                                                                type="number"
                                                                class="form-control"
                                                                name="ing-{{ ingredient.id }}"
                                                                value="0"></td>
                                                        <td>{{ ingredient.measurement }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        <div class="tab-pane" id="recetas">
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                  <i class="material-icons">search</i>
                                              </span>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="add-receta-filter"
                                                   placeholder="Filtrar recetas">
                                            {# TODO add button for ingredientes #}
                                        </div>
                                        <div class="table-responsive table-wrapper-scroll-y">
                                            <table class="table table-condensed table-filter"
                                                   id="add-receta-table">
                                                <thead>
                                                <tr class="table-head">
                                                    <th>Used</th>
                                                    <th>Receta</th>
                                                    <th>Costo</th>
                                                    <th>Medida</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for receta in recetas %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    {# TODO checkbox enables quantity field #}
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           name="added-ing[]"
                                                                           value="{{ receta.id }}">
                                                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{ receta.name }}</td>
                                                        <td>{{ receta.cost }}</td>
                                                        <td><input
                                                                type="number"
                                                                class="form-control"
                                                                name="ing-{{ receta.id }}"
                                                                value="0"></td>
                                                        <td>{{ ingredient.measurement }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                A&ntilde;adir
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Cerrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ tipo|title }}s</h4>
                </div>
                <div class="card-body">
                    <button class="btn btn-primary btn-round" rel="tooltip"
                            data-toggle="modal" data-target="#add-prov"><i
                            class="material-icons">add</i></button>
                    {% if recetas.count == 0 %}
                        No hay ningun recetas.
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Costo ($)</th>
                                    <th>Precio ($)</th>
                                    <th class="text-right">Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                {#TODO make table more narrow, expand to modal for more information#}
                                {#TODO collapsable table coluemns#}
                                {% for platillo in platillos %}
                                    <tr>
                                        <td>{{ platillo.nombre }}</td>
                                        <td>{{ platillo.costo }}</td>
                                        <td>{{ platillo.precio }}</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip"
                                                    class="btn btn-info">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>
                                            <button type="button" rel="tooltip"
                                                    class="btn btn-success">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip"
                                                    class="btn btn-danger">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
