{% extends "base.html" %}
{% block title %}{{ tipo|title }}s{% endblock %}
{% block content %}
    {% include "menu/menu_tabs.html" %}
    <div class="modal" id="add-prov" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">A&ntilde;adir {{ tipo|title }}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% with 'menu:'|add:tipo|add:'s' as url_arg %}
                <form method="POST" action="{% url url_arg %}">
                {% endwith %}
                    {% csrf_token %}
                    <div class="modal-body">
                    {% load myfilters %}
                        <div class="form-group">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre|addclass:'form-control' }}
                        </div>
                        <div class="form-group">
                            {{ form.precio.label_tag }}
                            {{ form.precio|addclass:'form-control' }}
                        </div>
                        <div class="card card-nav-tabs card-plain">
                            <div class="card-header card-header-primary">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#ingredientes"
                                                   data-toggle="tab">Ingredientes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   href="#recetas"
                                                   data-toggle="tab">Recetas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="tab-content text-center">
                                    <div class="tab-pane"
                                         id="ingredientes">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                      <i class="material-icons">search</i>
                                                  </span>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="add-receta-filter"
                                                   placeholder="Filtrar ingredientes">
                                            {# TODO add button for ingredientes #}
                                        </div>
                                        <div class="table-responsive table-wrapper-scroll-y">
                                            <table class="table table-condensed table-filter"
                                                   id="add-receta-table">
                                                <thead>
                                                <tr class="table-head">
                                                    <th>Usado</th>
                                                    <th>Ingrediente</th>
                                                    <th>Costo</th>
                                                    <th>Cantidad</th>
                                                    <th>Medida</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for ingredient in ingredientes %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    {# TODO checkbox enables quantity field #}
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           name="added-ing[]"
                                                                           value="{{ ingredient.id }}">
                                                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{ ingredient.nombre }}</td>
                                                        <td>{{ ingredient.unit_cost|currency }}/{{ ingredient.medida }}</td>
                                                        <td><input
                                                                type="number"
                                                                class="form-control"
                                                                name="ing-{{ ingredient.id }}"></td>
                                                        <td>{{ ingredient.medida }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        <div class="tab-pane" id="recetas">
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">
                                                  <i class="material-icons">search</i>
                                              </span>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="add-receta-filter"
                                                   placeholder="Filtrar recetas">
                                            {# TODO add button for ingredientes #}
                                        </div>
                                        <div class="table-responsive table-wrapper-scroll-y">
                                            <table class="table table-condensed table-filter"
                                                   id="add-receta-table">
                                                <thead>
                                                <tr class="table-head">
                                                    <th>Usado</th>
                                                    <th>Receta</th>
                                                    <th>Costo</th>
                                                    <th>Cantidad</th>
                                                    <th>Medida</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for receta in recetas %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    {# TODO checkbox enables quantity field #}
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           name="added-rec[]"
                                                                           value="{{ receta.id }}">
                                                                    <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{ receta.nombre }}</td>
                                                        <td>{{ receta.unit_cost|currency }}/{{ receta.medida }}</td>
                                                        <td><input
                                                                type="number"
                                                                class="form-control"
                                                                name="rec-{{ receta.id }}" /></td>
                                                        <td>{{ receta.medida }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                A&ntilde;adir
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Cerrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ tipo|title }}s</h4>
                </div>
                <div class="card-body">
                    {% load myfilters %}
                    <form method="POST" action="{% url 'menu:platillos_delete' %}">
                        {% csrf_token %}
                        <input hidden name="current-plat" value="{{ platillo.id }}" />
                        <button class="btn btn-danger" type="submit"><i class="material-icons">delete</i></button>
                        <a class="btn btn-info" href="{% url 'menu:export' %}"><i class="material-icons">get_app</i></a>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-prov"><i
                            class="material-icons">add</i></button>
                    {% if recetas.count == 0 %}
                        No hay ning&uacute;n recetas.
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Costo</th>
                                    <th>Precio</th>
                                    <th>Costo Percentaje</th>
                                    <th>Ganancia</th>
                                    <th class="text-right">Acci&oacute;n</th>
                                </tr>
                                </thead>
                                <tbody>
                                {#TODO make table more narrow, expand to modal for more information#}
                                {#TODO collapsable table coluemns#}
                                {% for platillo in platillos %}
                                    <tr>
                                    <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" name="plat-del[]" value="{{ platillo.id }}" >
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                    </td>
                                        <td>{{ platillo.nombre }}</td>
                                        <td>{{ platillo.costo|currency }}</td>
                                        <td>{{ platillo.precio|currency }}</td>
                                        <td>{{ platillo.costo_percentaje|percentage }}</td>
                                        <td>{{ platillo.ganancia|currency }}</td>
                                        <td class="td-actions text-right">
                                            {% with 'menu:'|add:tipo|add:'s_edit' as url_arg %}
                                            <a rel="tooltip" class="btn btn-success" href="{% url url_arg platillo.pk %}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            {% endwith %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
