{% extends "base.html" %}
{% block title %}Proveedores{% endblock %}
{% block content %}
{% include "menu/menu_tabs.html" %}
<div class="modal" id="add-prov" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">A&ntilde;adir Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'menu:proveedores' %}">
      {% csrf_token %}
      <div class="modal-body">
          {% load myfilters %}
      <div class="form-row">
          <div class="col-6 form-group">
              {{ form.nombre.label_tag }}
             {{ form.nombre|addclass:'form-control' }}
          </div>
          <div class="col-6 form-group">
              {{ form.telefono.label_tag }}
              {{ form.telefono|addclass:'form-control' }}
          </div>
      </div>
      <div class="form-row">
          <div class="col-6 form-group">
              {{ form.representante.label_tag }}
              {{ form.representante|addclass:'form-control' }}
          </div>
          <div class="col-6 form-group">
              {{ form.telefono_de_representante.label_tag }}
              {{ form.telefono_de_representante|addclass:'form-control' }}
          </div>
      </div>
      <div class="form-group">
          {{ form.correo_electronico.label_tag }}
          {{ form.correo_electronico|addclass:'form-control' }}
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% if error != None %}
    <div class="alert alert-warning" role="alert">
        Proveedor está usado en un ingrediente.
    </div>
{% endif %}
{% if proveedores.count > 0 %}
    {# TODO split into two columns #}
    {% for proveedor in proveedores %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ proveedor.nombre }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ proveedor.correo_electronico }}</h6>
            <p class="card-text">
                Tel&eacute;fono: {{ proveedor.telefono }}<br/>
                Representante: {{ proveedor.representante }}<br/>
                Tel&eacute;fono de Rep: {{ proveedor.telefono_de_representante }}
            </p>
        </div>
        <div class="card-footer">
            <a rel="tooltip" class="btn" href="{% url 'menu:proveedores_delete' proveedor.pk %}"><i class="material-icons">delete</i></a>
            <a rel="tooltip" class="btn" href="{% url 'menu:proveedores_edit' proveedor.pk %}"><i class="material-icons">edit</i></a>
        </div>
    </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
